@using Paranoid.Service
@using Paranoid.Model
@{
    ViewData["Title"] = "Paranoid";
    var dispositivos = ViewData["ListaDispositivos"] as List<Dispositivo>;
}

<div class="text-start">
    <p class="display-4 text-center">Devices on your network: </p>
    <div class="row">
         <table-responsive>
            <table align="center">
                <tr>
                    <th>Alias</th>
                    <th>IP</th>
                    <th>MAC</th>
                    <th></th>
                    <th>Type</th>
                </tr>
                @foreach (var dispositivo in dispositivos)
                {
                    var ipAddress = dispositivo.Ip;
                    var macAddress = dispositivo.MacAdress;
                    var macAddressView = macAddress.Replace("-", ":");
                    var tipo = dispositivo.Tipo;
                <tr>
                    <td>
                        <input type="text" class="inputAlias text-truncate" id="@("aliasInput" + macAddress)" aria-describedby="aliasHelp" placeholder="Enter alias" onfocusout="changeAlias(this.value, '@macAddress')">
                        <span class="d-none" id="@(macAddress + "alias")"></span>
                    </td>
                    <td>@ipAddress</td>
                    <td>@macAddressView<span class="d-none tdMacAddress">@macAddress</span></td>
                    <td><a class="copiar" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy to clipboard"><i id="@macAddress" onclick="copyToClipBoard('@macAddressView')" class="bi bi-clipboard-check text-secondary"></i></a></td>
                    <td>@tipo</td>
                    <td align="center">
                        <i class="bi bi-info-circle detalhes" id="icon-detalhe-@macAddress" data-bs-toggle="tooltip" data-bs-placement="top" title="Take a close look" onclick="viewDetail('@macAddress')"></i>

                        <div class="spinner-grow spinner-grow-sm d-none" id="spinner-detalhes-@macAddress" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                </tr>
                }
            </table>
        </table-responsive>
    </div>
   
    <div class="row justify-content-center pt-3">
        <div class="col-2">
            <div class="alert alert-success hidden-alert text-center" id="alertCopy" role="alert">
                Copied!
            </div>
        </div>
    </div>

    <div class="modal fade" id="detalheModal" tabindex="-1" aria-labelledby="modal-detalhes" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Available information: </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Company name: <span id="company" class="text-detalhe"></span> </p>
            <p>Country: <span id="country" class="text-detalhe"></span> </p>
            <p>Company Address 1: <span id="companyaddress1" class="text-detalhe"></span> </p>
            <p>Company Address 2: <span id="companyaddress2" class="text-detalhe"></span> </p>
            <p>Company Address 3: <span id="companyaddress3" class="text-detalhe"></span> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="erroApi" tabindex="-1" aria-labelledby="modal-erro" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-erro">Unable to get details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                <p>Please try again later</p>
          </div>
        </div>
      </div>
    </div>

</div>
