@using Paranoid.Service
@using Paranoid.Model
@{
    ViewData["Title"] = "Paranoid";
    var dispositivos = ViewData["ListaDispositivos"] as List<Dispositivo>;
}

<div class="text-start">
    <p class="display-4 text-center" id="main-text">Devices on your network: </p>
    <div class="row">
         <table-responsive>
            <table align="center">
                <tr>
                    <th id="alias">Alias</th>
                    <th>IP</th>
                    <th>MAC</th>
                    <th></th>
                    <th id="type">Type</th>
                </tr>
                @foreach (var dispositivo in dispositivos)
                {
                    var ipAddress = dispositivo.Ip;
                    var macAddress = dispositivo.MacAdress;
                    var macAddressView = macAddress.Replace("-", ":");
                    var tipo = dispositivo.Tipo;
                <tr>
                    <td>
                        <input type="text" class="inputAlias text-truncate input-alias-placeholder" id="@("aliasInput" + macAddress)" aria-describedby="aliasHelp" placeholder="Enter alias" onfocusout="changeAlias(this.value, '@macAddress', false)">
                        <span class="d-none" id="@(macAddress + "alias")"></span>
                    </td>
                    <td>@ipAddress</td>
                    <td>@macAddressView<span class="d-none tdMacAddress">@macAddress</span></td>
                    <td><a class="copiar copyTooltip field-tip"><span class="tip-content copyTooltipText">Copy to clipboard</span><i id="@macAddress" onclick="copyToClipBoard('@macAddressView')" class="bi bi-clipboard-check text-secondary"></i></a></td>
                    <td>@tipo</td>
                    <td align="center">
                        <i class="bi bi-info-circle detalhes detailTooltip field-tip" id="icon-detalhe-@macAddress" onclick="viewDetail.getDetail('@macAddress')"> <span class="tip-content detailTooltipText">Take a close look</span></i>

                        <div class="spinner-grow spinner-grow-sm d-none" id="spinner-detalhes-@macAddress" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                </tr>
                }
            </table>
        </table-responsive>
    </div>
   
    <div class="row justify-content-center pt-3">
        <div class="col-2">
            <div class="alert alert-success hidden-alert text-center" id="alertCopy" role="alert">
                Copied!
            </div>
        </div>
    </div>

    <div class="modal fade" id="detalheModal" tabindex="-1" aria-labelledby="modal-detalhes" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="available-info">Available information: </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><span id="company-name">Company name: </span><span id="company" class="text-detalhe"></span> </p>
            <p><span id="country-label">Country: </span><span id="country" class="text-detalhe"></span> </p>
            <p><span id="companyaddress1-label">Company Address 1: </span> <span id="companyaddress1" class="text-detalhe"></span> </p>
            <p><span id="companyaddress2-label">Company Address 2: </span> <span id="companyaddress2" class="text-detalhe"></span> </p>
            <p><span id="companyaddress3-label">Company Address 3: </span> <span id="companyaddress3" class="text-detalhe"></span> </p>
          </div>
           <div class="modal-footer justify-content-start">
               <button class="btn btn-save-alias field-tip" type="submit" id="btn-change-alias-yes" onclick="viewDetail.saveCompanyNameAsAlias()">Save company name as alias</button>
           </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="erroApi" tabindex="-1" aria-labelledby="modal-erro" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-erro">Unable to get details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modal-erro-body">
                <p>Please try again later</p>
          </div>
        </div>
      </div>
    </div>

</div>
